
@{
    ViewData["Title"] = "Analytics";
}

    <div class="text-center">
        <h3>Analytics</h3>
        <button class="btn btn-primary">Download Report</button>
        <hr />
        <h3>Employee Analytics</h3>
        <hr />
        <h3>User Analytics</h3>
        <div>
            <div>Total System Administrators:</div>
            <div>Total Data Managers:</div>
            <div>Total Data Maintaners:</div>
            <div>Total Researchers:</div> 
        
            
        
        </div>
        <hr />



    </div>
