@model OrganizationX.Models.SeedData
@{
    ViewData["Title"] = "Load";
}

<h1>Load CSV Data</h1>
<input type="file" accept=".csv" onchange="openCsv(event)" />

<form asp-action="Load">
<textarea asp-for="Seed" id="loadTextField"></textarea>
    <input name="sumbitSeed" type="submit" value="Analyze Seed Data" />
</form>
