@model IEnumerable<OrganizationX.Models.Employee>
@{
    ViewData["Title"] = "SearchResults";
}

    <div class="view-container">
        <table>
            <thead>
                <tr>
                    <th class="table-header">Employee Number</th>
                    <th class="table-header">Last Updated</th>
                    <th class="table-header">Updated By</th>
                    <th class="table-header">Edit</th>
                    <th class="table-header">View</th>
                    <th class="table-header">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var val in Model)
                    {
                    <td>@Html.ValueFor(id => val.EmployeeNumber)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    }
                </tr>
            </tbody>
            
        </table>               
    </div>


